@font-face {
    font-family: "iekie jianyuanti";
    src: url("jianyuanti.eot"); /* IE9 */
    src: url("jianyuanti.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("jianyuanti.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("jianyuanti.woff") format("woff"), /* chrome, firefox */
    url("jianyuanti.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("jianyuanti.svg#iekie jianyuanti") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


